*.sw[pc]
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.DS_Store

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov
.tox

#Translations
*.mo

# Mr Developer
.mr.developer.cfg

# Dirs
log/
db/
venv/
.netrwhist
viminfo
tags
bundle

virtualenv
emacs.d
.netrwhist
