[submodule "vimfolder/bundle/git"]
	path = vimfolder/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vimfolder/bundle/fugitive"]
	path = vimfolder/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfolder/bundle/nerdtree"]
	path = vimfolder/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfolder/bundle/nerdcommenter"]
	path = vimfolder/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfolder/bundle/syntastic"]
	path = vimfolder/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vimfolder/bundle/powerline"]
	path = vimfolder/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vimfolder/bundle/surround"]
	path = vimfolder/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfolder/bundle/vim-buffergator"]
	path = vimfolder/bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator.git
[submodule "vimfolder/bundle/solarized"]
	path = vimfolder/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vimfolder/bundle/supertab"]
	path = vimfolder/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vimfolder/bundle/vim-colors-solarized"]
	path = vimfolder/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vimfolder/bundle/taglist"]
	path = vimfolder/bundle/taglist
	url = https://github.com/thisivan/vim-taglist
[submodule "vimfolder/bundle/keyboard_cat"]
	path = vimfolder/bundle/keyboard_cat
	url = git@github.com:natw/keyboard_cat.vim.git
[submodule "vimfolder/bundle/Command-T"]
	path = vimfolder/bundle/Command-T
	url = git@github.com:wincent/Command-T.git
